<!DOCTYPE html>
<html lang="en">
<head><title>404-抱歉</title></head>
<style>
  img {
    margin-bottom: 20px;
  }
  p {
    margin: 5px 0;
  }
  a {
    float: left;
    display: block;
    padding: 10px 20px;
    background: #3399ff;
    color: #fff;
    margin: 0 10px;
  }
  a:hover {
    color: #fff;
    opacity: 0.8;
  }
  .action {
    margin: 20px 41%;
    overflow: hidden;
    width: 248px;
    margin-left: 50%;
    left: -124px;
    position: relative;
  }
</style>
<body>
<div style="text-align:center; padding-top:150px">
  <img src="/hryv2/img/404.png" alt="" />
  <p>抱歉，您访问的页面不存在</p>
  <p>您要查看的地址可能已被更改，或暂时不可用</p>
  <div class="action"><a href="javascript:history.go(-1)">返回上一页</a><a href="/">返回首页</a></div>
</div>
</body>
</html>
